@import "tailwindcss";


@theme{
  --font-orbitron:"Orbitron",sans-serif;
  --color-secondary: #505359;
  --color-primary: #a6a3a6;
}

body{
  @apply bg-[#000000] text-white;
};

.font-orbitron{
  font-family:var(--font-orbitron);
}